
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
JS2TeamWork_TeamCasper/CasperTheGhost/bin/CasperTheGhost.dll
JS2TeamWork_TeamCasper/CasperTheGhost/bin/CasperTheGhost.pdb
JS2TeamWork_TeamCasper/CasperTheGhost/obj/Debug/CasperTheGhost.csproj.FileListAbsolute.txt
JS2TeamWork_TeamCasper/CasperTheGhost/obj/Debug/CasperTheGhost.csprojResolveAssemblyReference.cache
JS2TeamWork_TeamCasper/CasperTheGhost/obj/Debug/CasperTheGhost.dll
JS2TeamWork_TeamCasper/CasperTheGhost/obj/Debug/CasperTheGhost.pdb
JS2TeamWork_TeamCasper/CasperTheGhost/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
